:root {
  --main-color: #492524;
  --main-color-alt: #d0b0af;
  --main-color-alt-light: #faf3f2;
  --main-color-alt-light: #eee;
  --second-color: #ffd500;
  --second-color-alt: #322a2a;
  --neutral: #555;
  --neutral-alt: rgb(218, 217, 217);
}

html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/*Home Styles*/
main {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color-alt-light);
}

main > * {
  padding: 0px 4rem 0px 4rem;
}

main * {
  box-sizing: border-box;
}

header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
header * {
  height: fit-content;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header nav ul li {
  font-weight: bold;
}

header nav ul li a {
  text-decoration: none;
  color: var(--main-color);
  white-space: nowrap;
}

header nav ul li a:hover {
  border-bottom: solid 2px var(--main-color);
}

.headerBtnGroup {
  display: flex;
  gap: 1rem;
}

.landingSection {
  display: flex;
  background-color: var(--main-color);
  color: #fff;
}
.landingSectionTextZone {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landingSectionTextZone * {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.landingSectionImageZone {
  width: 40%;
}

.btnFilled,
.btnNotFilled {
  padding: 0.6rem;
  border-radius: 30px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnFilled {
  background-color: var(--main-color);
  color: #fff;
}

.btnNotFilled {
  border: solid 1px var(--main-color);
  background-color: #fff;
  color: var(--main-color);
}
.btnNotFilled * {
  text-decoration: none;
  color: var(--main-color);
}

/* AboutSection */
.aboutSectionWrapper {
  background-color: #fff;
  padding-bottom: 1.5rem;
}
.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #fff;
}

.aboutSectionZ1,
.aboutSectionZ2 {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.aboutSectionZ1 {
  border-bottom: solid 2px var(--main-color);
}
.aboutSectionCard {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 70px 1fr;
  box-shadow: 0px 0px 4px var(--main-color);
  background-color: var(--main-color-alt-light);
  border-radius: 0px 30px 0px 0px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.aboutSectionCard div {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: baseline;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 100%;
  background-color: #fff;
  padding: 5px;
}

.aboutSectionCard div img {
  width: 100%;
}

.aboutSectionCard h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}

.aboutSectionCard p {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0px;
}
/* Services section */

.servicesSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.servicesSectionRow1,
.servicesSectionRow2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.serviceElement {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 50px;
  justify-items: center;
  row-gap: 10px;
  border: solid 2px var(--second-color);
  padding: 1rem;
  position: relative;
  width: 300px;
  background-color: #fff;
}

.serviceElement:hover {
  box-shadow: 0px 0px 15px var(--main-color);
}
.serviceElementVMore {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}
.serviceElementVMore:hover {
  box-shadow: 0px 2px 2px var(--second-color);
}
.serviceElement h4 {
  margin-top: 4rem;
}

.serviceElementLogo {
  align-self: center;
  padding: 1.5rem;
  border: solid 5px #fff;
  border-radius: 100%;
  position: absolute;
  top: -35px;
  background-color: var(--second-color);
}

.serviceElementLogo img {
  width: 3rem;
  height: 3rem;
}

/* SectionsSeparator */

.sectionsSeparator {
  height: 10rem;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* quoteZone */
.quoteZoneWrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 0px;
}
.quoteZoneWrapper h2 {
  margin-top: 1.5rem;
  margin-bottom: 0px;
}
.quoteZone {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
  background-color: #fff;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quote q {
  font-size: large;
  font-weight: bold;
  width: 60%;
  text-align: center;
}

.quote .quoteImg {
  width: 40%;
  border: solid 1px var(--main-color-alt-light);
  background-color: var(--neutral);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote .quoteImg img {
  width: 100%;
  border-radius: 10px;
}

/* footer */

footer {
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding-bottom: 1.5rem;
}

footer .footerElement {
  width: 300px;
}

footer li a:not(a[class='socialNetwork']) {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
}

footer li a:not(a[class='socialNetwork']):hover {
  border-bottom: solid 2px #fff;
  width: fit-content;
}

footer ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}

footer ul li {
  display: flex;
  gap: 5px;
  align-items: center;
}

footer ul li img {
  width: 20px;
  height: 20px;
}

#socialNetworks {
  display: flex;
  align-items: center;
}

#socialNetworks img {
  width: 30px;
  height: 30px;
}

.footerBtnGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footerBtnGroup button {
  width: 100%;
  box-shadow: 0px 0px 4px #fff;
}

.navZone button {
  display: none;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66.66%;
}

.mobileMenu {
  display: none;
}

.breadcrumb {
  background-color: var(--main-color);
  color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.breadcrumb span a {
  color: #fff;
}

.pageDetails {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* .pageDetails .detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
}

.detail div:first-child {
  grid-column: 1/2;
  grid-row: 2/3;
}

.detail div:last-child {
  grid-column: 2/3;
  grid-row: 2/3;
}

.detail h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: baseline;
}

.detail .description {
  font-size: 1rem;
}

.detail .image {
  width: 30rem;
  border-radius: 20px;
}

.detail .image img {
  width: 100%;
  border-radius: 20px;
} */

.subService {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.subService > div {
  border-radius: 10px;
  box-shadow: 0px 0px 4px gray;
  width: 45%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: solid 5px var(--second-color);
}

.subService div div {
  padding: 1rem;
}

.subService div div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subService div div ul li {
  list-style: url('/images/icons/ok.png');
}

.subService h2 {
  margin: 0px;
  padding: 1rem;
  text-align: center;

  border-bottom: solid 1px rgb(209, 207, 207);
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.teamMember {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 1fr 70px;
  border: solid 1px gray;
  border-radius: 20px;
}

.teamMember div:first-child {
  width: 250px;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 300px;
  overflow: hidden;
}

.teamMember div:first-child img {
  width: 100%;
  border-radius: 20px;
}

.teamMember div:last-child {
  width: 250px;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.teamMember div:last-child span:first-child {
  font-weight: bold;
}

.teamMember button {
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  padding: 4px;
}

/* Small Pc */
@media only screen and (max-width: 950px) {
  main > * {
    padding: 0px;
  }

  main > *:not(header) {
    padding: 5px;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
  }

  .navZone {
    margin-right: 5px;
  }

  .headerBtnGroup {
    background-color: var(--second-color);
    grid-column: 1/3;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }
}

/* Tablet */
@media only screen and (max-width: 800px) {
  .subService > div {
    width: 100%;
  }
  .aboutSectionZ1 {
    display: none;
  }

  .aboutSectionZ2 {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
  }

  .navZone {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .navZone button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    align-self: flex-end;
    margin-right: 5px;
    width: 40px;
    background-color: #fff;
    padding: 5px;
    border: none;
  }

  .navZone button hr {
    width: 100%;
    height: 3px;
    color: var(--main-color);
    background-color: var(--main-color);
    margin: 0px;
  }

  .pcMenu {
    display: none;
  }
  .mobileMenu {
    display: block;
    position: absolute;
    right: 5px;
    top: 2rem;
    z-index: 8;
    background-color: white;
    opacity: 0.9;
    padding: 5px;
  }

  header nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .headerBtnGroup {
    background-color: var(--second-color);
    grid-column: 1/3;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .landingSection {
    flex-direction: column-reverse;
  }

  .landingSection > * {
    width: 100%;
  }

  .landingSectionTextZone {
    align-items: center;
    text-align: center;
  }

  .landingSectionTextZone h1 {
    font-size: 1.5em;
  }

  .quote:nth-child(odd) {
    flex-direction: column;
  }

  .quote:nth-child(even) {
    flex-direction: column-reverse;
  }

  .quote q {
    width: 100%;
  }

  .quote .quoteImg {
    width: 100%;
  }

  .sectionsSeparator h2 {
    display: none;
  }

  .pageDetails .detail {
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto;
  }

  .detail div:first-child {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .detail div:last-child {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #quoteReverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.rotate {
  transform: rotateY(45deg);
  animation: rotateAnimation 3s ease-in-out infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(225deg);
  }
}
