html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/*Home Styles*/
main {
  display: flex;
  flex-direction: column;
}
main > * {
  padding: 0px 5rem 0px 5rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.headerBtnGroup {
  display: flex;
  gap: 1rem;
}

.landingSection {
  display: flex;
  padding: 4rem;
  background-color: #492524;
  color: #fff;
}
.landingSectionTextZone {
  width: 60%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingSectionTextZone * {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.landingSectionImageZone {
  width: 40%;
}

.btnFilled {
  padding: 0.6rem;
  background-color: #492524;
  border-radius: 30px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnFilled * {
  color: #fff;
  text-decoration: none;
}

.btnNotFilled {
  padding: 0.6rem;
  border: solid 1px #492524;
  border-radius: 30px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnNotFilled * {
  text-decoration: none;
  color: #492524;
}

/* AboutSection */

.aboutSection {
  display: flex;
  gap: 2rem;
}

.servicesSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.servicesSection:nth-child(1) {
  grid-column: 1/3;
}
