:root {
  --main-color: #492524;
  --main-color-alt: #d0b0af;
  --second-color: #ffd500;
  --second-color-alt: #322a2a;
  --neutral: #555;
  --neutral-alt: rgb(218, 217, 217);
}

html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/*Home Styles*/
main {
  display: flex;
  flex-direction: column;
}
main > * {
  padding: 0px 5rem 0px 5rem;
}
main * {
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header nav ul li {
  font-weight: bold;
}

header nav ul li a {
  text-decoration: none;
  color: var(--main-color);
}

header nav ul li a:hover {
  border-bottom: solid 2px var(--main-color);
}

.headerBtnGroup {
  display: flex;
  gap: 1rem;
}

.landingSection {
  display: flex;
  padding: 4rem;
  background-color: var(--main-color);
  color: #fff;
}
.landingSectionTextZone {
  width: 60%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landingSectionTextZone * {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.landingSectionImageZone {
  width: 40%;
}

.btnFilled,
.btnNotFilled {
  padding: 0.6rem;
  border-radius: 30px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnFilled {
  background-color: var(--main-color);
  color: #fff;
}

.btnNotFilled {
  border: solid 1px var(--main-color);
  background-color: #fff;
  color: var(--main-color);
}
.btnNotFilled * {
  text-decoration: none;
  color: var(--main-color);
}

/* AboutSection */

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
}

.aboutSectionZ1,
.aboutSectionZ2 {
  width: 33.33%;
}

/* Services section */

.servicesSection {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.servicesSectionRow1,
.servicesSectionRow2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.serviceElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--second-color);
  padding: 1rem;
  position: relative;
  width: 33.33%;
  background-color: #fff;
}

.serviceElement h4 {
  margin-top: 4rem;
}

.serviceElementLogo {
  align-self: center;
  padding: 1.5rem;
  border: solid 5px #fff;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  background-color: var(--second-color);
}

.serviceElementLogo img {
  width: 3rem;
  height: 3rem;
}

/* SectionsSeparator */

.sectionsSeparator {
  height: 10rem;
  background-color: #3f2f2f;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* quoteZone */

.quoteZone {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quote q {
  font-size: large;
  font-weight: bold;
  width: 50%;
}

.quote .quoteImg {
  width: 30%;
  height: 200px;
  border: solid 1px var(--main-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  background-color: var(--main-color);
  color: #fff;
}
